body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

header {
  padding:20px;
  background:#1e293b;
}

.logo {
  width:120px;
  border-radius:20px;
}

.join {
  display:inline-block;
  margin-top:10px;
  color:#38bdf8;
  text-decoration:none;
  font-weight:bold;
}

.card {
  background:#1e293b;
  margin:15px;
  padding:15px;
  border-radius:12px;
}

.card.bot {
  border-left:4px solid #22c55e;
}

.card.channel {
  border-left:4px solid #3b82f6;
}

